 
# Исключение изображений
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp

# Исключение файлов Excel
*.xls
*.xlsx
*.xlsm

# Исключение файлов CSV
*.csv

# Исключение ZIP-архивов
*.zip

# Исключение JSON-файлов
*.json

# Исключение всех вложенных папок с этими файлами
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg
**/*.webp
**/*.xls
**/*.xlsx
**/*.xlsm
**/*.csv
**/*.zip
**/*.json
